@tailwind base;
@tailwind components;
@tailwind utilities;

/* Configurações para tela cheia */
html,
body,
#root {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
  -webkit-overflow-scrolling: touch;
}

/* Esconder scrollbar */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Melhorar toques em mobile */
@media (max-width: 640px) {
  * {
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}
